body{

    background: url(bg.jpg) #663399 no-repeat 0 0;
    background-attachment:fixed;
    background-size:100%;
    height:auto;
    min-height: 100%;
}
.banner{
    width: 7.5rem;
    height: 4.72rem;
    background: url(banner.png?3) no-repeat;
    background-size: 100% 100%;
}
.rule{
    width: 7.5rem;
    height: 1.6rem;
    background: url(rule1.png) no-repeat;
    background-size: 100% 100%;
}
.lxw-home-nav{
    width:6.96rem;
    height:1.2rem;
    color:#000;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background: url(nav.png) no-repeat;
    background-size: 100% 100%;
    margin:0.2rem auto;
}
.lxw-home-nav .lxw-home-item{
    display: inline-block;
    width:1.37rem;
    height: 1.2rem;
    margin:-0.1rem -0.2rem 0 0.1rem;
    vertical-align: top;
    
}
.lxw-home-nav .lxw-home-item .lxw-home-img{
    width: 0.8rem;
    height: 0.8rem;
    margin:0.0rem auto;
}
.lxw-home-nav .lxw-home-item .lxw-home-text{
    width: 1.37rem;
    height: 0.4rem;
    font-size: 0.2rem;
    text-align: center;
    color:#fff;
    margin-top:0.1rem;
    line-height: 0.4rem;
    font-family: "思源黑体";
    
}

.lxw-fix-nav{
    width:7.5rem;
    height: 0.9rem;
    color:#000;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #fff;
    position:fixed;
    top:0;
    z-index: 99;
    display: none;
}
.lxw-fix-nav .lxw-fix-item{
    display: inline-block;
    width:1.5rem;
    height: 0.8rem;
    margin:0 -0.2rem 0 0.1rem;
    font-size: 0.28rem;
    text-align: center;
    vertical-align: middle;
    line-height: 0.4rem;

}
.promotion-wrap .promotion-item .promotion-item-title2 {
/*    width: 90%;
    height: 0.6rem;
    font-size: 0.24rem;
    margin: 0.25rem auto;
    overflow: hidden;
    text-align: center;
    */
    line-height: 0.3rem;
}
